<%- include('../partials/head') %>
<%- include('../partials/nav') %>
<div class="container mt-5">
    <h1>Admin Dashboard</h1>
    <div class="list-group">
        <a href="/admin/authors" class="list-group-item list-group-item-action">Manage Authors</a>
        <a href="/admin/quotes" class="list-group-item list-group-item-action">Manage Quotes</a>
    </div>
</div>
</body>
</html>